<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for product in products %}
    <br>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ product['images'] }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product['name'] }}</h5>
        <p class="card-text">{{ product['price'] }}</p>
      </div>
    </div>
    {% endfor %}
</body>
</html>